# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Mac
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Scratch / Temp
*.tmp

# Environment / secrets
.env
.env.local
*.env
!.env.example

# Test cache
.pytest_cache/
